.jumbotron{
    margin-bottom: 4em;
    width: 100%;
    background-color: rgb(12, 12, 12,0.5);
   
}


#about{
    background-image: url('../images/pw5.jpeg');
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#464646;
    padding:0;
    padding-top: 4%;
    padding-left: 15%;
    padding-right: 15%;
}
