#register{
    background-color: rgb(12, 12, 12,0.5);
}


#logR{
    background-image: url('../images/am26.jpeg');
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#464646;
    padding:0;
    padding-top: 5%;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 0%;
  }